 *, *::before, *::after{
    padding: 0;
    margin:0;
    box-sizing: border-box;
 }

 body{
    display:flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
    background-color: #d4d2d2;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width:100%;
 }

 nav{
    width: 15%;
    height: 100vh;
    display:flex;
    justify-content: center;
    background-color: #f2f2f2;
    background-color: #020423;
    color: white;
    left:0;
    padding:10px;
 }

 nav ul{
   list-style: none;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100vh;
   font-size: 1rem;
 }

 section{
   display: none;
   width:85%;
   height:100vh;
   overflow-y: auto;
 }

 section.active{
   display: block;
 }

 header{
   width: 100%;
   background-color: rgb(2, 2, 31);
   color: white;
   padding: 10px;
   display: flex;
   position: sticky;
    align-items: center;
   justify-content: space-between;
   position: sticky;
   top: 0;
   z-index: 2;
 }

 nav ul li{
   padding: 2px;
   /* background-color: green; */
 }

 /* toggle-switch */

 .toggle-switch{
  width: 70px;
  height: 35px;
  position: relative;
  display: inline-block;
 }

 .toggle-switch input{
  opacity: 0;
  height: 0;
  width: 0;
 }

 .slider{
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   height:35px;
   width: 100%;
   background-color: rgb(226, 223, 223);
   border-radius: 34px;
   transition: 0.4s background-color ease;
 }

 .slider::before{
   position: absolute;
   content: '';
   height: 27px;
   width: 27px;
   border-radius: 50%;
   transition: 0.4s transform ease;
   left: 4px;
   bottom: 4px;
   background-color: rgb(33, 34, 34);
 }

 .toggle-switch input:checked + .slider{
    background-color: rgb(54, 54, 55);
 }

 .toggle-switch input:checked + .slider::before{
    transform: translateX(35px);
    background-color: rgb(165, 114, 3);
 }

 body.dark-mode{
  background-color: rgb(52, 52, 53);
  color: white;
 }

 body.light-mode{
  background-color: white;
  color: black;
 }

 .product-list .productCard{
  background-color: #ffffff;
  color: black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.1);
 }

 .product-list{
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 10px;
  gap: 5px;
 }